/*** DANCER1 STYLING ***/

#head {
    animation: head 0.3s infinite alternate;
    transform-origin: 60px 100px 10px;
    transform-box: fill-box;
  }
  
  @keyframes head {
    from {
      transform: rotateZ(-5deg);
    }
    to {
      transform: rotateZ(10deg);
    }
  }
  
  #armleft {
    animation: armleft 1.5s infinite alternate;
    transform-origin: 100px 30px 100px;
    transform-box: fill-box;
  }
  
  #armright {
    animation: armright 1.5s infinite alternate;
    transform-origin: 20px 30px 100px;
    transform-box: fill-box;
  }
  
  #legleft {
    animation: legleft 0.3s infinite alternate;
    transform-origin: 150px 30px 100px;
    transform-box: fill-box;
  }
  
  @keyframes armleft {
    from {
      transform: rotateZ(-10deg);
    }
    to {
      transform: rotateZ(120deg);
    }
  }
  
  @keyframes armright {
    from {
      transform: rotateZ(10deg);
    }
    to {
      transform: rotateZ(-100deg);
    }
  }
  
  @keyframes legleft {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(10deg);
    }
  }

  #torso {
    animation: torso 0.5s ease-in-out infinite alternate;
  }

  @keyframes torso {
    from {
      transform: rotateX(-5deg);
    }
    to {
      transform: rotateX(5deg);
    }
  }


  /*** DANCER2 STYLING ***/

  #head2 {
    animation: head2 0.5s infinite alternate;
    transform-origin: 200px 100px 10px;
    transform-box: fill-box;
  }

  @keyframes head2 {
    from {
      transform: rotateZ(10deg);
    }
    to {
      transform: rotateZ(0deg);
    }
  }

  #armright2 {
    animation: armright2 1s infinite alternate;
    transform-origin: 120px 150px 100px;
    transform-box: fill-box;
  }

  @keyframes armright2 {
    from {
      transform: rotateZ(5deg);
    }
    to {
      transform: rotateZ(-5deg);
    }
  }

  #armleft2 {
    animation: armleft2 1s infinite alternate;
    transform-origin: 120px 150px 100px;
    transform-box: fill-box;
  }

  @keyframes armleft2 {
    from {
      transform: rotateZ(5deg);
    }
    to {
      transform: rotateZ(0deg);
    }
  }


  #legright2 {
    animation: legright2 0.3s infinite alternate;
    transform-origin: 100px 30px 100px;
    transform-box: fill-box;
  }

  @keyframes legright2 {
    from {
      transform: rotateZ(-5deg);
    }
    to {
      transform: rotateZ(10deg);
    }
  }

  #torso2 {
    animation: torso2 0.5s ease-in-out infinite alternate;
  }

  @keyframes torso2 {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(10deg);
    }
  }

  /*** DANCER3 ***/

  #head3 {
    animation: head3 0.5s infinite alternate;
    transform-origin: 200px 300px 10px;
    transform-box: fill-box;
  }

  @keyframes head3 {
    from {
      transform: rotateZ(10deg);
    }
    to {
      transform: rotateZ(-5deg);
    }
  }


  #lefthand3{
    animation: lefthand3 0.5s infinite alternate;
    transform-origin: 100px 100px 10px;
    transform-box: fill-box;
  }

  @keyframes lefthand3 {
    from {
      transform: rotateZ(10deg);
    }
    to {
      transform: rotateZ(-10deg);
    }
  }


  #torso3 {
    animation: torso3 0.5s ease-in-out infinite alternate;
  }

  @keyframes torso3 {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(10deg);
    }
  }


  /*** DANCER4 ***/

  #balloon1:hover {
    animation: balloon 0.5s infinite alternate;
    transform-origin: 100px 100px 10px;
    transform-box: fill-box;
  }

  #balloon2:hover {
    animation: balloon 0.5s infinite alternate;
    transform-origin: 100px 100px 10px;
    transform-box: fill-box;
  }

  #balloon3:hover {
    animation: balloon 0.5s infinite alternate;
    transform-origin: 100px 100px 10px;
    transform-box: fill-box;
  }

  @keyframes balloon {
    from {
      transform: rotateX(30deg);
    }
    to {
      transform: rotateX(-30deg);
    }
  }

  #girlleft {
    animation: girls 2s ease-in-out infinite alternate;
    transform-origin: 150px 300px 10px;
    transform-box: fill-box;
  }

  #girlright  {
    animation: girls 2s ease-in-out infinite alternate;
    transform-origin: 150px 300px 10px;
    transform-box: fill-box;
  }

  @keyframes girls {
    from {
      transform: rotateZ(5deg);
    }
    to {
      transform: rotateZ(-5deg);
    }
  }


  /*** DANCER5 ***/

  #light1 {
    animation: lights  0.5s infinite alternate;
    transform-origin: 100px 300px 10px;
    transform-box: fill-box;
  }

  #light2 {
    animation: lights  0.5s infinite alternate;
    transform-origin: 100px 300px 10px;
    transform-box: fill-box;
  }

  #light3 {
    animation: lights 0.5s infinite alternate;
    transform-origin: 100px 300px 10px;
    transform-box: fill-box;
  }

  @keyframes lights {
    from {
      transform: rotateX(30deg);
    }
    to {
      transform: rotateX(-30deg);
    }
  }

  #speaker:hover {
    animation: speaker 0.5s ease-in-out infinite alternate;
    transform-origin: 150px 300px 10px;
    transform-box: fill-box;
  }

  @keyframes speaker {
    from {
      transform: rotateX(20deg);
    }
    to {
      transform: rotateX(-20deg);
    }
  }

  #note1 {
    animation: notes 0.5s infinite alternate;
    transform-origin: 20px 20px 20px;
    transform-box: fill-box;
  }

  #note2 {
    animation: notes 0.5s infinite alternate;
    transform-origin: 20px 20px 20px;
    transform-box: fill-box;
  }

  #note3 {
    animation: notes 0.5s infinite alternate;
    transform-origin: 20px 20px 20px;
    transform-box: fill-box;
  }

  #note4 {
    animation: notes 0.5s infinite alternate;
    transform-origin: 20px 20px 20px;
    transform-box: fill-box;
  }

  @keyframes notes {
    from {
      transform: rotateZ(20deg);
    }
    to {
      transform: rotateZ(-20deg);
    }
  }


  /*** DANCER6 ***/

#body6 {
  animation: body 0.5s ease-in-out infinite alternate;
  transform-origin: 150px 300px 10px;
  transform-box: fill-box;
}

@keyframes body {
  from {
    transform: rotateX(10deg);
  }
  to {
    transform: rotateX(-20deg);
  }
}

#head6 {
  animation: head6 0.5s infinite alternate;
    transform-origin: 80px 150px 0px;
    transform-box: fill-box;
}

@keyframes head6 {
  from {
    transform: rotateZ(10deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}


#head6:hover {
  animation: head6hover 2s infinite alternate;
    transform-origin: 80px 150px 0px;
    transform-box: fill-box;
}


@keyframes head6hover {
  from {
    transform: rotateZ(30deg);
  }
  to {
    transform: rotateZ(-30deg);
  }
}
