@font-face {
  font-family: "Interstate";
  src: url("../font/Interstate ExtraLight Regular.otf");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Interstate";
    background-color: #eeeeee;
    font-weight: bold;
  }

  html {
    scroll-behavior: smooth;
  }


/*** NAVBAR STYLING ***/

  
  #navbar {
    width: 100%;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    position: fixed;
    z-index: 100;
  }

  .navelements {
    max-width: 1200px;
    margin: auto;
 }

  #jukeboxbutton {
    color: #1B88F5;
    text-align: center;
    text-decoration: none;
    float: left;
    padding-left: 10px;
    padding-right: 30px;
    height: 50px;
    width: 90px;
    font-size: 24px;
    border-right: 1px solid #222;
    border-left: 1px solid #222;
    display: flex;
  }
  
  #jukeboxbutton > p {
    margin-top: 10px;
  }

  #jukeboxbutton > img {
    width: 20px;
    height: 25px;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .navbuttons {
    text-decoration: none;
    float: left;
    color: #ccc;
    width: 80px;
    height: 50px;
    border-right: 1px solid #222;
    text-align: center;
    font-size: 15px;
  }
  
  .navbuttons:hover {
    color: #666666;
    transition: 0.2s;
  }

  #main {
    max-width: 1200px;
    background-color: #ffffff;
    height: 1500px;
    margin: auto;
    margin-top: 0px;
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  #jukeboxbutton > p {
    margin-top: 10px;
  }


  
/***  PLAYER ***/

  #player {
    width: 100%;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    padding: 0;
    color: #ddd;
  }
  
  .playerElements {
     max-width: 800px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
  }

  .playerBtns {
    background-color: #333;
    border: none;
    color: #333;
    width: 50px;
    height: 50px;
    outline:none;
  }

  .playerBtns > img {
    width: 40px;
    height: 40px;
    border: none;
    color: red;
    filter: invert(85%);
    outline: none;
  }
  .playerBtns:hover >img {
    filter: invert(60%);
  }

  .progressBar{
    width: 55%;
    height: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }

  #progressLine {
    background-color: #1B88F5;
    border-radius: 6px;
    height: 6px;
  }
  
  #progressLineBackground {
    width: 100%;
    height: 6px;
    border-radius: 8px;
    background-color: lightgrey;
    position: absolute;
    z-index: -1;
  }
  
  .progressBar:hover > .progressDot{
    background-color: #1B88F5;
    height: 12px;
    width: 12px;
    margin-left: 0;
    border-radius: 6px;
    position: absolute;
  }

  .progressBar:active > .progressDot{
    background-color: transparent;
  }

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    position: absolute;
    z-index: 10;
  }
  
  
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: transparent;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    cursor: pointer;
  }

  .progressBar:active > input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: green;
  }

  .progressBar:active > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background-color: transparent;
  }
  




  
  .playerTime{
    min-width: 60px;
  }


/*** WELCOME/HOME STYLING ***/


#homemain {
  width: 100%;
  padding-top: 30px;
  height: 35vh;
  position: relative;
}


#homedefault {
  padding-top: 20px;
}
#homedefault > * {
  margin-left: 20px;
}

#currentInfo {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  color: #eee;
  display: block;
  padding: 10px;
  border-radius: 10px;
  width: 315px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

#currentInfo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


@media only screen and (min-width: 401px) {
  #svgCover {
    height: 40vh;
  }
  #svgCoverRect {
    height: 40vh;
  }
}

#svgCover {
  width: 100%;
  position: absolute;
}
  
/*#currentCover {
  -webkit-box-reflect: below 1px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(250, 250, 250, 1)));
  
}*/

@media only screen and (min-width: 761px) {
  #currentCover {
      top: -130px;
      position: relative;
      float: right;
      margin-right: 50px;
      border-radius: 15px;
      box-shadow: 0px 5px 20px #222;
    }
  }

@media only screen and (max-width: 760px) {
  #currentCover {
    position: relative;
    margin-left: 195px;
    height: 120px;
    top: -138px;
    border-radius: 10px;
    box-shadow: 0px 2.5px 10px #222;
  }
  #songmain {
    margin-top: 36px;
  }
}



@media only screen and (max-width: 400px) {
  #homemain > #svgCover {
    height: 45vh;
  }
  
  #homemain > #svgCoverRect {
    height: 45vh;
  }

  #homemain {
    height: 35vh;
  }
}







/*** SONGS STYLING ***/

#songmain {
  width: 100%;
  height: 350px;
  border-bottom: 1px solid #ccc;
  padding-top: 50px;
}

#songmain > * {
  margin-left: 20px;
}
.songlist {
    width: 90%;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.songLink{
  width: 200px;
  height: 200px;
  margin-left: 10px;
  cursor: pointer;
}

.songLink:first-child {
  margin-left: 0px;
}
.songLinkImg{
  width: 200px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.songLink > p{
  margin: 0;
  font-weight: bold;
}


/*** DANCERLIST STYLING ***/

#dancermain {
  width: 100%;
  height: 350px;
  padding-top: 35px;
  
  border-bottom: 1px solid #ccc;
}

#dancermain > * {
  margin-left: 20px;
}
.dancerlist {
  width: 90%;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.dancerlist > div > img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.dancerlist > div > p {
  margin-left: 10px;
}



/*** INFO STYLING ***/

#infomain {
  height: 100%;
}

#infomain > *{
  margin-left: 20px;
}


/*** FOOTER STYLING ***/
  
#footermain {
  background-color: #444;
  padding: 20px;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  max-width: 1160px;
  margin: auto;
  height: 250px;
  border-bottom: 1px solid #eee;
}

#pageThemeButton {
  margin-top: 25px;
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  height: 50px;
  box-shadow: 0 5px #999;
  font-family: "Interstate";
  font-weight: bold;
  outline: none;
}

#pageThemeButton:active {
  border: none;
  outline: none;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}

/*** PAGE THEME ***/
