@font-face {
  font-family: "Interstate";
  src: url("../font/Interstate ExtraLight Regular.otf");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Interstate";
    background-color: #eeeeee;
  }

  html {
    scroll-behavior: smooth;
  }


/*** NAVBAR STYLING ***/

  
  #navbar {
    width: 100%;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    position: fixed;
    z-index: 100;
  }

  .navelements {
    max-width: 1235px;
    margin: auto;
 }

  #jukeboxbutton {
    color: #1B88F5;
    text-align: center;
    text-decoration: none;
    float: left;
    padding-left: 10px;
    padding-right: 30px;
    height: 50px;
    width: 70px;
    font-size: 24px;
    border-right: 1px solid #222;
  }
  #jukeboxbutton > p {
    margin-top: 10px;
  }
  
  .navbuttons {
    text-decoration: none;
    float: left;
    color: #ccc;
    width: 87px;
    height: 50px;
    border-right: 1px solid #222;
    text-align: center;
    font-size: 15px;
  }
  
  .navbuttons:hover {
    color: #666666;
    transition: 0.2s;
  }

  #main {
    max-width: 1200px;
    background-color: #ffffff;
    height: 1500px;
    margin: auto;
    margin-top: 0px;
    padding-top: 20px;
    color: #333;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  #jukeboxbutton > p {
    margin-top: 10px;
  }


  
/***  PLAYER ***/

  #player {
    width: 100%;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    padding: 0;
    color: #ddd;
  }
  
  .playerElements {
     max-width: 800px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
  }

  .playerBtns {
    background-color: #333;
    border: none;
    color: #333;
    width: 50px;
    height: 50px;
    outline:none;
  }

  .playerBtns > img {
    width: 40px;
    height: 40px;
    border: none;
    color: red;
    filter: invert(85%);
    outline: none;
  }
  .playerBtns:hover >img {
    filter: invert(60%);
  }

  .progressBar{
    width: 55%;
    height: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }

  #progressLine {
    background-color: #1B88F5;
    border-radius: 6px;
    height: 6px;
  }
  
  #progressLineBackground {
    width: 100%;
    height: 6px;
    border-radius: 8px;
    background-color: lightgrey;
    position: absolute;
    z-index: -1;
  }
  
  .progressBar:hover > .progressDot{
    background-color: #1B88F5;
    height: 12px;
    width: 12px;
    margin-left: 0;
    border-radius: 6px;
    position: absolute;
  }

  .progressBar:active > .progressDot{
    background-color: transparent;
  }

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    position: absolute;
    z-index: 10;
  }
  
  
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: transparent;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    cursor: pointer;
  }

  .progressBar:active > input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: green;
  }

  .progressBar:active > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background-color: transparent;
  }
  




  
  .playerTime{
    min-width: 60px;
  }


/*** WELCOME/HOME STYLING ***/

#homemain {
  width: 100%;
  padding-top: 30px;
  height: 175px;
  border-bottom: 1px solid #ccc;
  margin: 0 -20px;
}

#homemain2 {
  width: 100%;
  padding-top: 30px;
  height: 40vh;
  position: relative;
}

#homemain2 > #currentInfo {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  color: #eee;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}

#homemain2 > #currentCover {
  margin-top: -130px;
  position: relative;
  float: right;
  left: -50px;
}

#homemain2 > #svgCover {
  width: 100%;
  height: 50vh;
  margin-left: 0;
  position: absolute;
}



@media only screen and (max-width: 750px) {
  #currentCover {
    display: none;
  }
}










/*** SONGS STYLING ***/

#songmain {
  width: 100%;
  height: 700px;
  border-bottom: 1px solid #ccc;
  padding-top: 50px;
}

#songmain > * {
  margin-left: 40px;
}
.songlist {
    min-width: 100%;
    display:flex;
}

.songLink{
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}
.songLinkImg{
  width: 200px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.songLink > p{
  margin: 0;
  font-weight: bold;
}


/*** INFO STYLING ***/

#infomain {
  width: 100%;
  height: 300px;
  padding-top: 20px;
}

#infomain > *{
  margin-left: 20px;
}


/*** FOOTER STYLING ***/
  
#footermain {
  background-color: #444;
  padding: 20px;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  max-width: 1160px;
  margin: auto;
  height: 200px;
}


/*** DARKSWITCH SLIDER ***/
.darkswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.darkswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*** MEDIA STYLING ***/

