@font-face {
  font-family: "Interstate";
  src: url("../font/Interstate ExtraLight Regular.otf");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Interstate";
    background-color: #eeeeee;
  }

  html {
    scroll-behavior: smooth;
  }


/*** NAVBAR STYLING ***/

  
  #navbar {
    width: 100%;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    position: fixed;
  }

  .navelements {
    max-width: 1235px;
    margin: auto;
 }

  #jukeboxbutton {
    color: #1B88F5;
    text-align: center;
    text-decoration: none;
    float: left;
    padding-left: 10px;
    padding-right: 30px;
    height: 50px;
    width: 70px;
    font-size: 24px;
    border-right: 1px solid #222;
  }
  #jukeboxbutton > p {
    margin-top: 10px;
  }
  
  .navbuttons {
    text-decoration: none;
    float: left;
    color: #ccc;
    width: 87px;
    height: 50px;
    border-right: 1px solid #222;
    text-align: center;
    font-size: 15px;
  }
  
  .navbuttons:hover {
    color: #666666;
    transition: 0.2s;
  }

  #main {
    max-width: 1200px;
    background-color: #ffffff;
    height: 1300px;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
    color: #333;
    text-align: left;
  }
  #jukeboxbutton > p {
    margin-top: 10px;
  }


  
/***  PLAYER ***/

  #player {
    width: 100%;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    padding: 0;
  }
  
  .navelements2 {
     max-width: 600px;
     margin: auto;
     display: flex;
  }
  .navbuttons2:hover {
    color: #666666;
  }

  .progressbar .progress {
    background-color: green;
    border-radius: 2px;
    transition: width 400ms ease-in-out;
    height: 5px;
  }
  
  .progressbar {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: lightgrey;
    padding: 5px;
  }
  




/*** WELCOME/HOME STYLING ***/

#homemain {
  width: 100%;
  padding-top: 30px;
  height: 175px;
  border-bottom: 1px solid #ccc;
}



/*** SONGS STYLING ***/

#songmain {
  width: 100%;
  height: 700px;
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}
.songlist {
    margin: auto;
}

.songlist > * {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*** INFO STYLING ***/

#infomain {
  width: 100%;
  height: 300px;
  padding-top: 20px;
}


/*** FOOTER STYLING ***/
  
#footermain {
  background-color: #444;
  padding: 20px;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}


/*** DARKSWITCH SLIDER ***/
.darkswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.darkswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*** MEDIA STYLING ***/

@media only screen and (min-width: 880px) {
  .songlist > * {
    width: 200px;
    height: 200px;
  }
  #songmain {
    height: 1000px;
  }

  #main {
    height: 1500px;
  }
}